:root {
  /* main colors */
  --primary: rgb(255, 255, 255);
  --secondary: rgb(236, 70, 93);
  --font: rgb(23, 39, 77);
  --font-light: rgb(116, 123, 122);
  /* button colors */
  --button-hover-1: rgb(210, 42, 65);
  --button-2: rgb(254, 245, 241);
  --button-2-hover: rgb(241, 233, 229);
  /* card color */
  --card: rgba(255, 255, 255, 0.9);
  /* quote colors */
  --blockquote-bg: rgba(0, 0, 0, 0.027);
  --blockquote-font: rgba(68, 68, 68, 0.635);
  /* footer color and navbar color */
  --footer: rgb(16, 30, 63);
}
